<div class="row">
  <div class="col-md-3">

    <div class="dropdown fullsize-dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <b class="caret"></b>
        <span>{{ endpoint.properties.name }} <span ng-hide="endpoint.properties.name">({{ endpoint.rootUrl }})</span></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="endpoint in endpoints"><a href="" ng-click="setEndpoint(endpoint)">{{ endpoint.properties.name }} <span ng-hide="endpoint.properties.name">({{ endpoint.rootUrl }})</span></a></li>
      </ul>
    </div>

    <div class="list-group top-spacing">
      <a href="" class="list-group-item" ng-click="setView('tree-view')" ng-class="{'active': display == 'tree-view'}">Tree View</a>
    </div>

  </div>
  <div class="col-md-9" ng-switch on="display">

    <!-- Tree View -->
    <div ng-switch-when="tree-view" ng-controller="TreeViewController">
      <div class="row">

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Ledger Tree</h3>
            </div>
            <div class="panel-body tree-explorer">
              <treecontrol class="tree-classic" tree-model="treeData" options="treeOptions" expanded-nodes="expandedNodes" on-selection="selectNode(node)">
                {{node.Path}}
              </treecontrol>
            </div>
          </div>
        </div>
        <div class="col-md-6">

          <!-- Account Records -->
          <div ng-show="selectedNode.record.recordKey.recordType == 'ACC'">
            <h4>Account record</h4>

            <table class="table table-condensed record-property-table">
              <tr>
                <th class="col-sm-3">Path</th>
                <td class="col-sm-9">{{ selectedNode.record.recordKey.path.toString() }}</td>
              </tr>
              <tr>
                <th>Asset</th>
                <td>{{ selectedNode.asset }}</td>
              </tr>
              <tr>
                <th>Amount</th>
                <td>{{ selectedNode.amount }}</td>
              </tr>
            </table>
          </div>

          <div class="tree-related-transactions" ng-show="selectedNode.record.recordKey.recordType">
            <h4>Related transactions</h4>

            <div ng-repeat="transaction in transactions">
              <div><a href="#/transaction/{{ transaction }}">{{ transaction }}</a></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
