<div class="jumbotron text-center">

        <form  method="post" ng-submit="addContact()" name="properties.signinForm" >

            <div class="form-group">
                <label class="control-label" for="login">Login</label>
                <input class="form-control hash-password" name="login" type="text" id="login" ng-model="properties.hislogin" placeholder="Login">
           
                <label class="control-label" for="nom">Nom</label>
                <input class="form-control hash-password" name="nom type="text" id="nom" ng-model="properties.nom" placeholder="Nom">
        
                <label class="control-label" for="prenom">Prenom</label>
                <input class="form-control hash-password" name="prenom" type="text" id="prenom" ng-model="properties.prenom" placeholder="Prenom">

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

  </br></br>